In [4]:
import pandas as pd

# read the data from csv
root_folder = './pickles_30/'
file_name = root_folder + 'pickles_30_full_baro.csv'
data_full_baro = pd.read_csv(file_name)

In [9]:
data_full_baro.shape
data_full_baro['Texture'].value_counts()
data_full_baro.columns
data_full_baro.head()

    baro  Texture
0  183.0        3
1  183.0        3
2  183.0        3
3  183.0        3
4  183.0        3

In [10]:
root_folder = './tactile_dataset/pickles_30/texture_01/'
file_name = root_folder + 'full_baro.csv'
data_full_baro = pd.read_csv(file_name)

In [12]:
data_full_baro.tail()

          baro  Texture
3777650  176.0        1
3777651  176.0        1
3777652  176.0        1
3777653  176.0        1
3777654  176.0        1

In [13]:
data_full_baro.head()

    baro  Texture
0  171.0        1
1  171.0        1
2  171.0        1
3  171.0        1
4  171.0        1

In [14]:
root_folder = './tactile_dataset/pickles_30/texture_01/'
file_name = root_folder + 'full_imu.csv'
full_imu = pd.read_csv(file_name)

In [15]:
full_imu.head()

,imu_ax,imu_ay,imu_az,imu_gx,imu_gy,imu_gz,imu_mx,imu_my,imu_mz,Texture
0,-1.403002,-3.470395,9.000402,-0.01579,-0.014093,-0.009526,-0.286133,-0.707764,1.835571,1
1,-1.403002,-3.470395,9.000402,-0.01579,-0.014093,-0.009526,-0.286133,-0.707764,1.835571,1
2,-1.403002,-3.470395,9.000402,-0.01579,-0.014093,-0.009526,-0.286133,-0.707764,1.835571,1
3,-1.403002,-3.470395,9.000402,-0.01579,-0.014093,-0.009526,-0.286133,-0.707764,1.835571,1
4,-1.403002,-3.470395,9.000402,-0.01579,-0.014093,-0.009526,-0.286133,-0.707764,1.835571,1

In [17]:
full_imu.shape

(3777655, 10)

In [18]:
data_full_baro.shape

(3777655, 2)

In [ ]:
root_folder = './tactile_dataset/pickles_30/texture_01/'
file_name = root_folder + 'full_imu.csv'
full_imu = pd.read_csv(file_name)